<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- header -->
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	
	<body id="page-top">
	<!-- Page Wrapper -->
		<div id="wrapper">
		
			<!-- sidebar -->
			<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
		
			<!-- Content Wrapper -->
        	<div id="content-wrapper" class="d-flex flex-column">
            	<!-- Main Content -->
            	<div id="content">
            		<!-- topbar -->
            		<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
            		<!-- content -->
            		<th:block layout:fragment="content"></th:block>
           		</div>
            	<!-- footer -->
            	<th:block th:replace="fragments/footer :: footerFragment"></th:block>
        	</div>
		</div>        
        <!-- script -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block> 
	</body>
</html>